@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Poppins&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app, html, body, #root{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transition: 0.4s ease-in-out;
}
::-webkit-scrollbar{
    display: none;
}

.login-btn {
    border: 1px solid #fff;
}

.whitecircle {
    filter: blur(400px);
}

.intro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.intro-center{
    grid-column: span 2;
}

.chats, .add-story{
    transform: translate(-50%,-50%);
}

.mode{
    backdrop-filter: blur(500px);
}

.sidebar, .chatsbar{
    transition: 0.3s ease-out;
}
.sidebar-prop{
    transition: 0.4s ease-in-out;
}
.mode{
    text-shadow:  0 0 0.2em currentColor;
}
